<?xml version="1.0"?>
<menu>
<category name="Pizzas">

	<item name="Tomato and cheese">

		<size type="large"><price>9.75</price></size>
		<size type="small"><price>5.50</price></size>
		</item>

	<item name="Bacon"> 	
		<size type="large"><price>10.85</price></size>
		<size type="small"><price>6.85</price></size>
	</item>

	<item name="Pepperoni">
		<size type="large"><price>10.86</price></size>
		<size type="small"><price>6.86</price></size>
</item>
</category>

</menu>

