<?xml version="1.0"?>
<pizzas>
	<pizza number="0">
		<type>tomato and cheese</type>
		<sizes>
		<size name="large">9.75</size>
		<size name="small"> 5.50</size>
		</sizes>
	</pizza>

	<pizza number="1">
	<type>bacon</type> 
	<sizes>
		<size name="large">10.85</size>
		<size name="small">6.85</size>
	</sizes>
</pizza>

<pizza number="2">

	<type>pepperoni</type>
	<sizes>

		<size name="large">10.85</size>
		<size name="small">6.85</size>
	</sizes>
</pizza>

</pizzas>
